.navbar-brand-img {
  margin-top: 5px;
  margin-right: 5px;
  margin-left: 5px;
}

.navbar-mobile-bazaar {
  background-color: #327eb8;
}

.navbar-brand {
  color: #efefef;
  font-weight: 600; 
}

.navbar-brand:hover {
  color: #efefef;
  font-weight: 600; 
}