$brand_color: #327eb8;

.navbar {
  margin-bottom: 2px;
  
  -webkit-box-shadow: 0 2px 1px darken($brand_color, 20%);
  -moz-box-shadow: 0 2px 1px darken($brand_color, 20%);
  box-shadow: 0 2px 1px darken($brand_color, 20%);
}

.navbar-brand-img {
  margin-top: 5px;
  margin-right: 5px;
  margin-left: 5px;
}

.navbar-brand {
  color: #efefef;
  font-weight: 600; 
}

.navbar-brand:hover {
  color: #efefef;
  font-weight: 600; 
}

.navbar-mobile-bazaar {
  background-color: #215175;
}