<div ng-cloak>
  <md-content class="md-padding transparent" layout-xs="column" layout="row" layout-align="center center">
    <div flex-xs flex-gt-xs="50" layout="column" layout-align="center center">
      <md-card class="transparent">
        <img src="/img/mobile-icon.png" class="md-card-image" alt="Mobile Bazaar">
         <md-content class="transparent">
          <div>
            <form name="userForm">
              <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                  <label class="mb-label">Username</label>
                  <input class="mb-input" ng-model="login.credentials.username">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                  <label class="mb-label">Password</label>
                  <input style="mb-input" ng-model="login.credentials.password">
                </md-input-container>
              </div>
            </form>
          </div>
        </md-content>
        <md-card-actions layout="column" layout-align="start">
          <md-button class="md-raised" ng-click="login.login(login.credentials)">Login</md-button>
        </md-card-actions>
      </md-card>
    </div>
  </md-content>
</div>