$brand_color: #327eb8;

html {
  height: 100%;
}

body {
  background-color: rgba(0,0,0,0.05);
  margin-top: 50px;
}

.page-wrapper {
  height: 100%;
  width: 100%;
}

.btn-primary {
  background-color: $brand_color;
}

.btn-primary:hover {
  background-color: darken($brand_color, 20%);
}

.btn-primary:active {
  background-color: darken($brand_color, 20%);
}