/*
*
* Start of my CSS
*
*/

html {

}

body {
  background-color: #063753;
}

::selection {
  background: #b4deff; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #b4deff; /* Gecko Browsers */
}

.transparent {
  background-color: rgba(0,0,0,0.01);
}


md-content {
  background-color: #063753;
  color: #ffffff;
}

md-input-container:not(.md-input-invalid).md-input-has-value label {
  color: #fff;
}

md-select .md-select-value.md-select-placeholder {
  color: #fff;
}

md-input-container label {
  color: #fff;  
}