$brand_darkest: rgb(4,32,55);
$brand_dark: rgb(18,54,82);
$brand: rgb(41,79,109);
$brand_light: rgb(73,109,137);
$brand_lightest: rgb(113,142,164);

html {
  height: 100%;
}

body {
  margin-top: 50px;
  background: #85a1bf;
}

.page-wrapper {
  height: 100%;
  width: 100%;
}