<md-content md-theme="docs-dark">

<h2>About</h2>
  
<md-input-container class="md-block" flex-gt-sm>
  <label>Title</label>
  <input ng-model="listing.title">
</md-input-container>  

<md-input-container class="md-block" flex-gt-sm>
  <label>Type</label>
  <md-select ng-model="listing.type">
    <md-option ng-repeat="type in listing.types" value="{{type}}">
      {{type}}
    </md-option>
  </md-select>
</md-input-container>  

<md-input-container class="md-block" flex-gt-sm>
  <label>Condition</label>
  <input ng-model="listing.condition">
</md-input-container>  
  
<label>NSFW 18+</label>
  <md-switch ng-model="listing.nsfw"><div ng-show="listing.nsfw">18+ Content</div></md-switch>
  
<md-input-container class="md-block">
  <label>Description</label>
  <textarea ng-model="listing.description" md-maxlength="150" rows="5" md-select-on-focus></textarea>
</md-input-container>
  
<md-input-container class="md-block" flex-gt-sm>
  <label>Price</label>
  <input ng-model="listing.price">
</md-input-container>  

<md-input-container class="md-block" flex-gt-sm>
  <label>SKU</label>
  <input ng-model="listing.sku">
</md-input-container>  
  
<h2>Shipping</h2>

  
<md-input-container class="md-block" flex-gt-sm>
  <label>Processing Time</label>
  <input ng-model="listing.processingTime">
</md-input-container>
  
  

  
  
  
Ships to []
Free Shipping Yes/No
Domestic Shipping Price (BTC)
International Shipping Price (BTC)
<ob-editable heading="Domestic Shipping Time" data="listing.domesticShipping"></ob-editable>  
<ob-editable heading="International Shipping Time" data="listing.internationalShipping"></ob-editable>  

<h2>Categorization (Optional)</h2>
Categories[]

<h2>Discover (Optional)</h2>
Tags []

<ob-editable heading="Terms and Conditions (Optional)" data="listing.toc"></ob-editable>  
<ob-editable heading="Return Policy (Optional)" data="listing.returnPolicy"></ob-editable>  

<h2>Expiration (Optional)</h2>
<md-datepicker ng-model="user.submissionDate" md-placeholder="Enter date">
</md-datepicker>

Save Listing

</md-content>