html {
  height: 100%; }

body {
  background-color: rgba(0, 0, 0, 0.05);
  margin-top: 50px; }

.page-wrapper {
  height: 100%;
  width: 100%; }

.btn-primary {
  background-color: #327eb8; }

.btn-primary:hover {
  background-color: #1c4768; }

.btn-primary:active {
  background-color: #1c4768; }
