.md-card-image {
  width: auto;
  margin-left: auto;
  margin-right: auto; }

md-card-actions md-button {
  background-color: #ffffff; }

md-content md-card {
  color: #ffffff; }

.mb-label, md-input-container .md-input {
  color: #ffffff;
  font-weight: 600;
  font-size: 1.25em; }
